###################################################################################
# BTT Smart Filament Sensor V2.0
###################################################################################
[filament_switch_sensor switch_sensor]
switch_pin: ^P1.26
pause_on_runout: True # This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below.
#detection_length: 2.88 ; BTT recommended value
runout_gcode:
    M117 Filament Encoder Runout
insert_gcode:
    M117 Filament Encoder inserted

[filament_motion_sensor encoder_sensor]
switch_pin: ^P1.25
detection_length: 5.00 # accuracy of motion sensor 2.88mm 
extruder: extruder
pause_on_runout: True # This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below.
runout_gcode:
    M117 Filament Encoder Runout
insert_gcode:
    M117 Filament Encoder inserted